<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>

    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Alunos Cadastrados</h1>
    <a href="/alunos/novo">Novo Aluno</a>
    <br />
    <table :style="{ border: '1px solid black', borderCollapse: 'collapse' }">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Matrícula</th>
                <th>Curso</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="a : ${alunos}">
                <td th:text="${a.id}"></td>
                <td th:text="${a.nome}"></td>
                <td th:text="${a.email}"></td>
                <td th:text="${a.matricula}"></td>

                <td th:text="${a.curso?.nome}"></td>
            </tr>
        </tbody>
    </table>

    <br />
    <a href="/">Voltar</a>
</body>
</html>