<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cursos</title>
    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Cursos</h1>
    <a href="/cursos/novo">Novo Curso</a> <br />

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Carga Horária</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${cursos}">
                <td th:text="${c.id}"></td>
                <td th:text="${c.nome}"></td>
                <td th:text="${c.cargaHoraria}"></td>
            </tr>
        </tbody>
    </table> <br />
    <a href="/">Voltar</a>
</body>
</html>